* {
  box-sizing: border-box;
}
body {
  font-family: "Ultra", serif;
  display: flex;
  justify-content: center; /* Centers the header horizontally */
  align-items: center; /* Centers the header vertically */
  margin: 0; /* Removes default margin */
  flex-direction: column; /* Aligns items in a column for vertical stacking */
  background-color: #d8ebfc;
}
header {
  display: flex;
  justify-content: center; /* Centers the content inside the header horizontally */
  align-items: center; /* Centers the content inside the header vertically */
  margin: 0; /* Removes default margin */
  padding: 20px; /* Optional padding for spacing */
  width: 100%; /* Ensures the header spans the width of the viewport */
  max-width: 800px; /* Optional maximum width for the header */
  color: #eb1751;
}
header h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 0; /* Remove any default margin from the h1 */
}

.container {
  justify-content: center; /* Centers the content inside the container horizontally */
  align-items: center; /* Centers the content inside the container vertically */
  margin: 15px; /* Margin for spacing around the container */
  background-color: #3ba0fe;
  height: 480px;
  width: 400px;
  border-radius: 10px;
  display: grid;
}

.tic-tac-toe {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  grid-template-rows: repeat(3, 1fr); /* 3 rows of equal height */
  gap: 10px; /* Space between the squares */
  width: 350px; /* Total width of the grid */
  height: 350px; /* Total height of the grid */
}

.box {
  background-color: hsl(240, 52%, 13%); /* Background color for squares */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 10px;
}

.x {
  color: #eb1751;
  font-size: 60px;
  font-weight: 400;
}

.o {
  color: #ffd035;
  font-weight: 400;
  font-size: 60px;
}

button {
  background-color: rgb(132, 212, 12);
  border: none;
  height: 40px;
  font-size: 30px;
  font-family: "Ultra", serif;
}
